body {
    padding: 1em;
}

svg {
    max-height: 85vh;
}

svg #Contours path {
    animation: backgroundColor 8s ease infinite;
}

@keyframes backgroundColor {
    0% {fill: #ff0000;}
    20% {fill: #ffa600;}
    40% {fill: #fbff00;}
    60% {fill: #00ff22;}
    80% {fill: #00fff2;}
    100% {fill: #811278;}
}

svg #triangles path {
    animation: colorTransition 6s ease infinite;
    animation-direction: reverse;
}

svg #triangles path:first-of-type {
    fill: green !important;
}

svg #triangles path:nth-of-type(18) {
    fill: red !important;
}

svg #triangles path:nth-of-type(23) {
    fill: yellow !important;
}

@keyframes colorTransition {
    0% {fill: #ff0000;}
    20% {fill: #ffa600;}
    40% {fill: #fbff00;}
    60% {fill: #00ff22;}
    80% {fill: #00fff2;}
    100% {fill: #811278;}
}

svg #disco_x5F_eye path, svg #third_x5F_eye path {
    fill: #ff00f2;
}